<footer class="footer">
  <div class="footer-logo" data-aos="fade-up" data-aos-duration="2500">Felipe Agudelo.</div>
  
  <div class="footer-social">
  <a href="#" target="_blank"  data-aos="fade-up" data-aos-duration="2500" data-aos-offset="50"><i class="fab fa-facebook-f"></i> <span>Facebook</span></a>
    <span class="separator" data-aos="fade-up" data-aos-duration="5500" data-aos-delay="150" data-aos-offset="50">|</span>

  <a href="https://x.com/felipedk76" target="_blank"  data-aos="fade-up" data-aos-duration="2500" data-aos-delay="100" data-aos-offset="50"><i class="fab fa-x-twitter"></i> <span>Twitter</span></a>
    <span class="separator" data-aos="fade-up" data-aos-duration="5500" data-aos-delay="250" data-aos-offset="50">|</span>

  <a href="https://www.instagram.com/dresk_76/" target="_blank"  data-aos="fade-up" data-aos-duration="2500"data-aos-delay="200" data-aos-offset="50"><i class="fab fa-instagram"></i> <span>Instagram</span></a>
    <span class="separator"  data-aos="fade-up" data-aos-duration="5500" data-aos-delay="350" data-aos-offset="50">|</span>

  <a href="#"  data-aos="fade-up"  target="_blank" data-aos-duration="2500" data-aos-delay="300" data-aos-offset="50"><i class="fab fa-behance"></i> <span>Behance</span></a>
    <span class="separator" data-aos="fade-up" data-aos-duration="5500" data-aos-delay="450" data-aos-offset="50">|</span>
    
  <a href="#"  target="_blank" data-aos="fade-up" data-aos-duration="2500" data-aos-delay="400" data-aos-offset="50"><i class="fab fa-pinterest-p"></i> <span>Pinterest</span></a>
  </div>

  <div class="footer-bottom">
    © Copyright Felipe Agudelo 2025 &nbsp; | &nbsp; Design by <span class="credit"> VMsoftware</span>
  </div>
</footer>

