<footer class="footer">
  <div class="footer-logo">Felipe Agudelo.</div>

  <div class="footer-social">
    <a href="#" target="_blank">
      <i class="fab fa-facebook-f"></i> <span>Facebook</span>
    </a>
    <span class="separator">|</span>
    <a href="https://x.com/felipedk76" target="_blank">
      <i class="fab fa-x-twitter"></i> <span>Twitter</span>
    </a>
    <span class="separator">|</span>
    <a href="https://www.instagram.com/dresk_76/" target="_blank">
      <i class="fab fa-instagram"></i> <span>Instagram</span>
    </a>
    <span class="separator">|</span>
    <a href="#" target="_blank">
      <i class="fab fa-behance"></i> <span>Behance</span>
    </a>
    <span class="separator">|</span>
    <a href="#" target="_blank">
      <i class="fab fa-pinterest-p"></i> <span>Pinterest</span>
    </a>
  </div>

  <div class="footer-bottom">
    © Copyright Felipe Agudelo 2025 &nbsp;|&nbsp; Design by <span class="credit">VMsoftware</span>
  </div>
</footer>
