<nav class="navbar navbar-expand-lg custom-navbar" [class.scrolled]="scrolled">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">sudo apt-get upgrade Felipe.</a>

    <button
      class="navbar-toggler"
      [class.active]="menuOpen"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="menuOpen"
      aria-label="Toggle navigation">
      <span></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="menuOpen" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let link of navLinks; let i = index">
          <a class="nav-link"
             [class.active]="activeSection === link.section"
             (click)="scrollTo(link.section)"
             href="#">
            {{ link.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
